@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.custom-marker {
    background-color: rgb(158, 65, 225); /* Change this to any color */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlighted-marker{
    background-color: yellow;
}
